
$pt-serif: 'PT Serif', serif;
$pt-serif-caption: 'PT Serif Caption', serif;

$pt-sans: 'PT Sans', sans-serif;
$pt-sans-narrow: 'PT Sans Narrow', sans-serif;
$pt-sans-caption: 'PT Sans Caption', sans-serif;

$alex-brush: 'Alex Brush', cursive;

$open-sans-extra-bold: 'Open Sans', sans-serif;



$spirax: 'Spirax', cursive;
$fredericka-great: 'Fredericka the Great', cursive;
$oleo-caps: 'Oleo Script Swash Caps', cursive;
$mystery-quest: 'Mystery Quest', cursive;
$suravaram: 'Suravaram', serif;