{{#partial "content" }}
  <h1>{{title}}</h1>
  <ol>
  {{#each seasons}}
    <li>{{this.name}}</li>
    <li>{{> partials/foo parameter=this.name }}</li>
  {{/each}}
  </ol>
  <p>Total : {{seasons.length}}</p>
  <p>{{> partials/foo parameter=123  }}</p>
  <p>{{> partials/foo parameter="hello" }}</p>
{{/partial}}

{{> layouts/base }}
