{{#partial "content" }}

<div class="container">
  <div class="row">
    <h2>Things to do during your visit</h2>
  </div>

  <div class="row zero-top-padding">
    <article class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <p><span class="h3">Sunset Lodge</span> is located on the north eastern shore of Lake Damariscotta, in Jefferson County, Maine.
      </p>
      <p>
        There are many wonderful activities right out your front door at Sunset Lodge (and inside!)
      </p>
      <div class="col-md-3 col-md-offset-9" style="margin-bottom:15px">
        <iframe class="visible-lg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113648.6109451016!2d-69.53195660066231!3d44.16411497092318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cadeeccef7f6e29%3A0x6014c303afa2179b!2sDamariscotta+Lake!5e1!3m2!1sen!2sus!4v1498968872253" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        <iframe class="visible-md" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113648.6109451016!2d-69.53195660066231!3d44.16411497092318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cadeeccef7f6e29%3A0x6014c303afa2179b!2sDamariscotta+Lake!5e1!3m2!1sen!2sus!4v1498968872253" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <iframe class="visible-sm" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113648.6109451016!2d-69.53195660066231!3d44.16411497092318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cadeeccef7f6e29%3A0x6014c303afa2179b!2sDamariscotta+Lake!5e1!3m2!1sen!2sus!4v1498968872253" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <iframe class="visible-xs" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113604.0111594705!2d-69.53401653718576!3d44.18726089741765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cadeeccef7f6e29%3A0x6014c303afa2179b!2sDamariscotta+Lake!5e1!3m2!1sen!2sus!4v1498969598927" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <p>
        Aside from the activities at the lodge itself, there are plenty of places for a day trip. Here are some
        favorites from our renters
      </p>

      <p>
        <span class="h4">Camden</span> lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis suscipit
        lacus. Morbi convallis tincidunt lorem sed tincidunt. Vivamus et dolor a ligula dictum mollis non in eros.
        Pellentesque interdum nunc eget consectetur imperdiet. In condimentum, ligula quis cursus vestibulum, dolor nunc
        tincidunt tortor, quis posuere metus risus ut ipsum.<br/>
        Learn more about visiting Camden <a href="http://www.camdenmainevacation.com/camden-maine.php">here</a>
      </p>

      <p>
        <span class="h4">Monhegan Island</span> lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis suscipit
        lacus. Morbi convallis tincidunt lorem sed tincidunt. Vivamus et dolor a ligula dictum mollis non in eros.
        Pellentesque interdum nunc eget consectetur imperdiet. In condimentum, ligula quis cursus vestibulum, dolor nunc
        tincidunt tortor, quis posuere metus risus ut ipsum.
        <br/>
        "Learn more about Monhegan Island on their website <a href="https://monheganwelcome.com/">here</a></p>
      </p>

      <p>
        <span class="h4">Damariscotta</span> is a lovely historic town, whose Main St is well worth a wander. According
        to Visit Maine, "Damariscotta, and its “twin village” of Newcastle, are separated by a bridge and the
        Damariscotta River. Their close connection to each other and the sea is obvious. Both villages are full of
        grand mansions, public buildings and historic businesses, many of which were constructed during the towns’
        boom years in shipping and shipbuilding. Wander the towns and stop by the Lincoln Theater, built in 1875;
        two locations of the Reny's Department Store, a 17-store Maine dynasty; Skidompha Secondhand Book Shop,
        with over 20,000 volumes, which helps support the local library; and St. Patrick’s Church, built in 1807 and
        the oldest Roman Catholic church in New England."<br/>
        <ul>
          <li>See the Lincoln County newspaper's events page <a href="https://lcnme.com/category/eventsactivities/">here</a>
          <li>Read more about the Damariscotta Region at <a href="https://visitmaine.com/places-to-go/midcoast/damariscotta-region">Visit Maine's Damariscotta page</a></li>
          </ul>
      </p>

      <p>
        <span class="h4">Pemaquid Point Lighthouse</span> is a nearly-200-year-old lighthouse in Bristol, Maine that was
        commissioned by John Quincy Adams in 1827, and is an approximately 40-minute drive from the Lodge. As of the
        2023 season, tickets are $3 (adults and children 12+), $1 (children 5-11), and free (children 4 and under) and
        they are open 9am-5pm everyday mid-May to mid-October. It is worth checking these details prior to your visit<br/>
        Learn more about visiting on <a href="https://www.bristolmaine.org/parks-recreation/pemaquid-point-lighthouse-park">
        their website here</a>
      </p>
      <p>
        <span class="h4">The Quarry</span> lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis suscipit
        lacus. Morbi convallis tincidunt lorem sed tincidunt. Vivamus et dolor a ligula dictum mollis non in eros.
        Pellentesque interdum nunc eget consectetur imperdiet. In condimentum, ligula quis cursus vestibulum, dolor nunc
        tincidunt tortor, quis posuere metus risus ut ipsum.<br/>
        Learn more <a href="https://www.atlasobscura.com/places/long-cove-quarry">here</a>
      </p>

    </article>
  </div>
</div>

{{/partial}}

{{> layouts/base }}
