{{#partial "content" }}

  <div class="container">
    <div class="row">
      <h2>Things to do during your visit</h2>
    </div>

    <div class="row zero-top-padding">
<!--      <article class="col-md-10 offset-md-1 col-sm-10 col-sm-offset-1">-->
        <div class="col-md-3 offset-md-1" style="margin-bottom:15px">
          <p><span class="h3">Sunset Lodge</span> is located on the North-eastern shore of Lake Damariscotta, in
            Jefferson
            County, Maine.
          </p>
          <p>
            There are many wonderful activities right out your front door at Sunset Lodge (and inside it too!)
          </p>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
          <!--          <iframe class="visible-lg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113648.6109451016!2d-69.53195660066231!3d44.16411497092318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cadeeccef7f6e29%3A0x6014c303afa2179b!2sDamariscotta+Lake!5e1!3m2!1sen!2sus!4v1498968872253" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>-->
          <iframe class="d-none d-md-block"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113648.6109451016!2d-69.53195660066231!3d44.16411497092318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cadeeccef7f6e29%3A0x6014c303afa2179b!2sDamariscotta+Lake!5e1!3m2!1sen!2sus!4v1498968872253"
                  width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <iframe class="d-none d-sm-block d-md-none"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113648.6109451016!2d-69.53195660066231!3d44.16411497092318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cadeeccef7f6e29%3A0x6014c303afa2179b!2sDamariscotta+Lake!5e1!3m2!1sen!2sus!4v1498968872253"
                  width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          <iframe class="d-block d-sm-none"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113604.0111594705!2d-69.53401653718576!3d44.18726089741765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cadeeccef7f6e29%3A0x6014c303afa2179b!2sDamariscotta+Lake!5e1!3m2!1sen!2sus!4v1498969598927"
                  width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </article>
<!--    </div>-->
  </div>
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Activities on-site</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <p>
        There is a lot to enjoy right at the Lodge
      </p>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#toggles2"></use>
          </svg>
        </div>
        <div>
          <h3 class="fs-2">The Lake</h3>
          <p>Jump straight off the dock or take a stroll in the shallows at our sandy beach - between the dock and beaches, the swimming
            is accessible across different levels of comfort and ages. </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#tools"></use>
          </svg>
        </div>
        <div>
          <h3 class="fs-2">Boating</h3>
          <p>Lake Damariscotta has many amazing nooks and inlets to enjoy by boat, from the narrows to the nearby lily ponds
            to Damariscotta River. Hop in a craft at our dock, and the Lake's your oyster. Don't have a craft? You can
            rent a collection of kayaks, cones, and sails.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#tools"></use>
          </svg>
        </div>
        <div>
          <h3 class="fs-2">Games</h3>
          <p>Games indoor and out - Head to the game room for the Pool table and table tennis, or head to the lawn for
            lakeside croquet and shuffleboard. In the evening, cozy up in the living room with one of our many puzzles or boardgames
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Things to do nearby</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <p>
        Aside from the activities at the lodge itself, there are plenty of places for a day trip. Here are some
        favorites from our renters
      </p>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#toggles2"></use>
          </svg>
        </div>
        <div>
          <h3 class="fs-2">Camden</h3>
          <p>Wander the quaint and historic seaside streets of Camden, for sightseeing, shopping, or a bite.</p>
          <a href="http://www.camdenmainevacation.com/camden-maine.php"
             class="btn btn-primary">
            Learn more
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#cpu-fill"></use>
          </svg>
        </div>
        <div>
          <h3 class="fs-2">Monhegan Island</h3>
          <p>For a memorable full-day excursion (or even an overnight!), visit Monhegan Island via the island's
            ferry.
            After a 1-2 hour boat journey off the coast, you'll arrive at the island for a wander, dip, or hike
            along the striking cliffs. </p>
          <a href="https://monheganwelcome.com/" class="btn btn-primary">Learn more about Monhegan
            Island</a></p>
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#tools"></use>
          </svg>
        </div>
        <div>
          <h3 class="fs-2">Main St, Damariscotta</h3>
          <p>To us, no visit to the Lodge is complete without a visit to "downtown" for a wander - the bridge
            across Damariscotta River,
            the bookstore, Reny's Department Store (a Maine dynasty), and the old-time pharmacy with a milkshake
            counter are some of our favorites.
            To learn more about local events during your stay, visit the Lincoln County newspaper's
            <a href="https://lcnme.com/category/eventsactivities/">events page</a>
          </p>
          <a href="https://visitmaine.com/places-to-go/midcoast/damariscotta-region" class="btn btn-primary">
            Learn more about the Damariscotta Region
          </a>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="/images/things-to-do/peter-wang-rOrATxYET7E-unsplash.jpg"></use>
          </svg>
        </div>
        <div>
          <h3 class="fs-2">Pemaquid Point Lighthouse</h3>
          <p>is a nearly-200-year-old lighthouse in Bristol, Maine that was
            commissioned by John Quincy Adams in 1827, and is an approximately 40-minute drive from the Lodge.
            As of the
            2023 season, tickets are $3 (adults and children 12+), $1 (children 5-11), and free (children 4 and
            under) and
            they are open 9am-5pm everyday mid-May to mid-October. It is worth checking these details prior to
            your visit
          </p>
          <a href="https://www.bristolmaine.org/parks-recreation/pemaquid-point-lighthouse-park"
             class="btn btn-primary">
            Plan a visit
          </a>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#tools"></use>
          </svg>
        </div>
        <div>
          <h3 class="fs-2">The Quarry</h3>
          <p>Looking for a local watering hole? This is, quite literally, it. Bring your bathing suit, and a
            spot
            of daring, and a car that can take a short, rough road. Then, jump in and take a swim in the cool waters of an old stone quarry.
          </p>
          <a href="https://www.atlasobscura.com/places/long-cove-quarry" class="btn btn-primary">
            Learn more
          </a>

        </div>
      </div>
    </div>
  </div>

{{/partial}}

{{> layouts/base }}
