{{#partial "content" }}
  <div class="container">
    <div class="row">
      <h2>Weddings</h2>
    </div>

    <div class="row zero-top-padding">
      <article class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <p><span class="h3">Sunset Lodge</span>, with open spaces, water views, and beautiful <a href="/sunsets">sunsets</a>, is the ideal location
          for an outdoor, rustic, "destination" wedding that will provide beautiful memories for a lifetime.
        </p>

        <p>
          Hosting a wedding at Sunset Lodge provides a fantastic setting and a romantic and intimate gathering, across multiple days.
          In addition to the unparalleled setting, you and your closest family and friends can stay with you
          at the Lodge, creating an unparalleled opportunity for rich memories and family moments. </p>
        <p>Between The Lodge and the neighboring property, you can host up to 50 guests on-site
          </br>The Lodge can accommodate 26 guests. To maximise your privacy and enjoyment, we recommend you also book
          the adjacent <a href="http://www.sunsetcabinsmaine.com" target="_blank">Sunset Cabins</a>, which can accommodate
          an additional 24 people. (Sunset Lodge and Sunset Cabins were originally a single property). With both properties,
          you can have up to 50 of your family and friends stay on-site. If you do this, we recommend booking Sunset
          Cabins for at least 3 days, spanning from the day before the wedding to the day after.
        </p>
        <p>For additional information and pricing, please <a href="/contact-us">contact us</a>.</p>

        <p><span class="h4">Wedding Galleries</span></p>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs visible-lg visible-md" role="tablist" id="lodge-and-cabins-tabs">
          <li role="presentation" class="active"><a href="#godfrey-kahn" aria-controls="home" role="tab" data-toggle="tab">Godfrey/Kahn</a></li>
          <li role="presentation"><a href="#powers-fuqua" aria-controls="profile" role="tab" data-toggle="tab">Powers/Fuqua</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="godfrey-kahn">
            <article class="col-md-12 col-md-offset-0">
              <p>&nbsp;</p>
            </article>

            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
              <div id="godfrey-kahn-carousel" class="carousel slide carousel-fade image-carousel" data-ride="carousel" data-interval="false">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="/images/wedding/godfrey-kahn/img-001.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/godfrey-kahn/img-002.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/godfrey-kahn/img-003.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/godfrey-kahn/img-004.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/godfrey-kahn/img-005.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/godfrey-kahn/img-006.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/godfrey-kahn/img-007.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/godfrey-kahn/img-008.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/godfrey-kahn/img-009.jpg"/>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#godfrey-kahn-carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#godfrey-kahn-carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 visible-md visible-lg">
              <div id="godfrey-kahn-carousel-thumbnails" class="carousel slide thumbnail-carousel" data-ride="carousel" data-interval="false" data-wrap="true">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="row">
                      <div class="col-sm-2"><a href="#x" class="thumbnail current-image" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/godfrey-kahn/img-001-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/godfrey-kahn/img-002-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/godfrey-kahn/img-003-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/godfrey-kahn/img-004-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/godfrey-kahn/img-005-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/godfrey-kahn/img-006-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/godfrey-kahn/img-007-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/godfrey-kahn/img-008-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/godfrey-kahn/img-009-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#godfrey-kahn-carousel-thumbnails" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#godfrey-kahn-carousel-thumbnails" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


          </div>
          <div role="tabpanel" class="tab-pane" id="powers-fuqua">
            <article class="col-md-12 col-md-offset-0">
              <p>Photos courtesy of Larissa Powers</p>
            </article>

            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
              <div id="powers-fuqua-carousel" class="carousel slide carousel-fade image-carousel" data-ride="carousel" data-interval="false">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="/images/wedding/powers-fuqua/img-001.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/powers-fuqua/img-002.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/powers-fuqua/img-003.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/powers-fuqua/img-004.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/powers-fuqua/img-005.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/powers-fuqua/img-006.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/powers-fuqua/img-007.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/powers-fuqua/img-008.jpg"/>
                  </div>
                  <div class="item">
                    <img src="/images/wedding/powers-fuqua/img-009.jpg"/>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#powers-fuqua-carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#powers-fuqua-carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 visible-md visible-lg">
              <div id="powers-fuqua-carousel-thumbnails" class="carousel slide thumbnail-carousel" data-ride="carousel" data-interval="false" data-wrap="true">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="row">
                      <div class="col-sm-2"><a href="#x" class="thumbnail current-image" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/powers-fuqua/img-001-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/powers-fuqua/img-002-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/powers-fuqua/img-003-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/powers-fuqua/img-004-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/powers-fuqua/img-005-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/powers-fuqua/img-006-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/powers-fuqua/img-007-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/powers-fuqua/img-008-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-sm-2"><a href="#x" class="thumbnail" onclick="selectThumbnail(this);">
                        <img src="/images/wedding/powers-fuqua/img-009-thumb.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#powers-fuqua-carousel-thumbnails" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#powers-fuqua-carousel-thumbnails" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>


      </article>
    </div>
  </div>

{{/partial}}

{{> layouts/base }}
