<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Sunset Lodge | {{ title }}</title>

  <link href="//fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|PT+Serif|PT+Serif+Caption|Open+Sans:800" rel="stylesheet">
  <!--<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Allura|Miltonian+Tattoo|Mountains+of+Christmas|Sacramento|Sail" rel="stylesheet">-->


  <!-- Bootstrap -->
<!--  <link href="/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="/js/jquery-3.7.1.min.js"></script>

  <style>
    html {
      background: url('{{ background_url }}') no-repeat center center fixed;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/images/logo-205.png" alt="Sunset Lodge"/></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

    <i class="fa fa-bars"></i> Menu
  </button>

  <div class="collapse navbar-collapse" id="menuItems">

    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" href="/lodge-and-cabins">The Lodge & Cabins</a>
      </li>
      <li class="nav-item d-block d-sm-none d-lg-block">
        <a class="nav-link" href="/rates-and-availability">Rates & Availability</a>
      </li>
      <li class="nav-item  d-block d-sm-none d-xl-block">
        <a class="nav-link" href="/weddings">Weddings</a>
      </li>
      <li class="nav-item  d-block d-sm-none d-xl-block">
        <a class="nav-link" href="/things-to-do">Things To Do</a>
      </li>
      <li class="nav-item  d-block d-sm-none d-xl-block">
        <a class="nav-link" href="/sunsets">Sunsets</a>
      </li>
      <li class="nav-item  d-block d-sm-none d-lg-block">
        <a class="nav-link" href="/contact-us">Contact</a>
      </li>
      <li class="nav-item dropdown d-none d-sm-block d-xl-none">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">More</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item d-none d-md-block d-lg-none" href="/rates-and-availability">Rates & Availability</a></li>
          <li><a class="dropdown-item d-block" href="/weddings">Weddings</a></li>
          <li><a class="dropdown-item d-block" href="/things-to-do">Things To Do</a></li>
          <li><a class="dropdown-item d-block" href="/sunsets">Sunsets</a></li>
          <li><a class="dropdown-item d-none d-md-block d-lg-none" href="/contact-us">Contact</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  {{#block "content"}}
  {{/block}}

<script src="/js/main.js"></script>
<script src="/js/default.js"></script>
</body>
</html>
